<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="visualstudio2022buildtools" version="117.6.3.0" packageParameters="--allWorkloads --includeRecommended --locale en-US"/>
	<package id="notepadplusplus.install" version="8.5.4"/>
	<package id="git.install" version="2.41.0"/>
	<package id="7zip.install" version="23.1.0"/>
	<package id="docker-desktop" version="4.21.1"/>
	<package id="kubernetes-cli" version="1.27.3"/>
	<package id="powershell-core" version="7.3.5" installArguments="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL=1 ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1"/>
	<package id="nodejs-lts" version="18.16.1"/>
	<package id="packer" version="1.9.1"/>
	<package id="terraform" version="1.5.2"/>
	<package id="sql-server-management-studio" version="19.1.56"/>
	<package id="azure-pipelines-agent" version="3.220.5"/>
</packages>